body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background-color: rgb(233, 233, 233);
    justify-items: center;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: block;
}

button {
    background-color: black;
    border: solid black 2px;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

button:hover {
    background-color: rgb(103, 103, 103);
    border: solid black 2px;
    color: white;
    border-radius: 10px;
}

button:active {
    background-color: rgb(255, 255, 255);
    border: solid black 2px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}