body {
    display: flex;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}

.box_matematica {
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(205, 227, 235);
    border-radius: 15px;
}

.quesiti {
    text-align: center;
    color: white;
    background-color: rgb(0, 167, 223);
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
}

.domandeMatematica {
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

#correggiVerifica {
    color: white;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    background-color: rgb(0, 167, 223);
    border-radius: 5px;
    border:rgb(0, 167, 223) solid;
    cursor: pointer;
}

#correggiVerifica:active {
    color: white;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    background-color: rgb(0, 106, 141);
    border-radius: 5px;
    border:rgb(0, 106, 141) solid;
    cursor: pointer;
}

.barraDestra {
    margin-left: 10px;
    display: block;
}

.login {
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(255, 255, 186);
    border-radius: 15px;
    height: 200px;
}

#username {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}

#password {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}

#accedi {
    color: white;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border:rgb(0, 0, 0) solid;
    cursor: pointer;
}

#accedi:active {
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border:rgb(0, 0, 0) solid;
    cursor: pointer;
}

.calcolatrice {
    margin-top: 10px;
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(172, 240, 172);
    border-radius: 15px;
    height: 240px;
}

#num1 {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}

#menuOperazioni {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#num2 {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#calcola {
    color: white;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border:rgb(0, 0, 0) solid;
    cursor: pointer;
    margin-bottom: 5px;
}

#calcola:active {
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border:rgb(0, 0, 0) solid;
    cursor: pointer;
    margin-bottom: 5px;
}

.consegna {
    margin-top: 10px;
    border: 2px solid black;
    padding: 15px;
    background-color: lightcoral;
    border-radius: 15px;
    height: 175px;
    max-width: 180px;
    max-height: 175px;
}

#terminaCompito {
    color: white;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    border:rgb(255, 0, 0) solid;
    cursor: pointer;
}

#terminaCompito:active {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    background-color: rgb(175, 0, 0);
    border-radius: 5px;
    border:rgb(255, 0, 0) solid;
    cursor: pointer;
}