body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-items: center;
}

input {
    display: block;
    margin-top: 20px;
}

button {
    display: block;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: solid black;
    padding: 10px;
    border-radius: 10px;
}

button:active {
    display: block;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid black;
    padding: 10px;
    border-radius: 10px;
}

.bottoni1 {
    display: flex;
}

.bottoni2 {
    display: flex;
}

.secondo_bot {
    margin-left: 5px;
}