body {
    background-color: #f8f8f8;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.testo {
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 100px;
}

.testo h2 {
    font-weight: 550;
    font-size: xx-large;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header h3 {
    text-align: center;
}

.header h3:first-child {
    text-align: left;
}

.header h3:last-child {
    text-align: right;
}

.box {
    position: relative;
    margin: 60px auto;
    padding: 50px 120px; /* spazio interno */
    max-width: 760px;
    text-align: center;
    box-sizing: border-box;
}

.box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 93%;
    border: 1px solid #000;
    pointer-events: none;
    z-index: 1;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 100%;
    border: 1px solid #000;
    pointer-events: none;
    z-index: 1;
}

.box img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.box h1 {
    font-size: 75px;
    font-weight: 300;
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
    border-color: #000;
    background-color: #000;
    width: 100px;
    height: 2px;
}